/* 头部样式 */
.web-header {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  font-family: "微软雅黑";
  color: #fff;
  background-color: rgb(61, 64, 62);
}

/* 身体样式 */
.web-main {
  width: auto;
  height: auto;
  background-color: beige;
  margin: 20px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.type1 {
  min-height: 460px;
  color: black;
  font-size: 10px;
  background-color: rgb(144, 153, 107);
}

.type2 {
  min-height: 460px;
  color: black;
  font-size: 10px;
  background-color: rgb(144, 153, 107);
  margin-top: 10px;
}

.tu {
  height: 30px;
  width: auto;
}

.tu1 {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.text {
  font: normal bold 21px 微软雅黑;
  background-color: #e3ae1c;
  text-indent: 1em;
  text-align: center;
}

.N {
  margin: auto;
}

.web {
  width: 120px;
  height: 50px;
  border-radius: 10%;
  text-align: center;
  margin: 10px;
  background-color: #4c8e8c;
  font-size: 16px;
  font-family: 微软雅 黑;
  line-height: 50px;
  box-shadow: 6px 2px 6px;
  position: relative;
  /* 让tooltip相对于盒子定位 */
}

.tooltip {
  position: absolute;
  /* 显示在盒子上方 */
  top: -10px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background: rgb(51, 51, 51, 0.9);
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  /* 防止信息换行 */
  opacity: 0;
  /* 默认透明（隐藏） */
  visibility: hidden;
  /* 隐藏不占空间 */
  transition: all 0.2s;
  /* 过渡动画 */
  z-index: 1000;
}

/* 鼠标悬浮盒子时，显示tooltip */
.web:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -65px;
  /* 稍微上移一点，增加动画感 */
}

/* 可选：加个小三角 */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  /* 三角朝下 */
}

.web a {
  text-decoration: none;
  color: #333;
}

.web a:hover {
  color: #33cd1b;
}

.N {
  display: flex;
  flex-wrap: wrap;
}

/* 底部样式 */
.web-footer {
  line-height: 60px;
  background-color: rgb(61, 64, 62);
}

.web-footer1 {
  left: 2000px;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #fff;
}

.web-footer2 {
  text-align: center;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #fff;
  margin: 20px 0;
}